﻿@{
    ViewBag.Title = "Create Employee";
    var UserRole = Session["UserRole"];
}

<h2>Create Employee</h2>
@*@Html.Action("Logout", "Logout")*@

@*@if (UserRole.Equals("Admin")){*@
<form method="post" asp-action="CreateEmployee" asp-controller="Employee">
    <div>
        <label for="name">Name</label>
        <input type="text" name="Name" id="name" asp-for="Name" />
    </div>

    <div>
        <label for="department">Department</label>
        <input type="text" name="Department" id="department" asp-for="Department" />
    </div>
    <div>
        <label for="Email">Email</label>
        <input type="email" name="Email" id="Email" asp-for="Email" />
    </div>

    <div>
        <label for="salary">Salary</label>
        <input type="number" name="Salary" id="salary" asp-for="Salary" />
    </div>

    <button type="reset">Clear</button>
    <button type="submit">Save</button>
</form>
<div>
    @Html.ActionLink("Logout", "Logout")
</div>